.container
  h4 Team: Apple
  p
    a(href='https://www.linkedin.com/in/ry2294') Rakesh Yarlagadda
    = ' | '
    a(href='https://www.linkedin.com/in/ry2294') Aishwarya Iyer
    = ' | '
    a(href='https://www.linkedin.com/in/ry2294') Panchampreet Kaur 
    = ' | '
    a(href='https://www.linkedin.com/in/ry2294') Shashwat Bhoop
